{% extends "index.html" %}

{% block head %}
		<link rel="stylesheet" href="/css/Highlight-Clean.css">
{% endblock %}

{% block content %}
	<body>
		<div class="highlight-clean">
			<div class="container">
				<div class="intro">
					<h2 class="text-center">Access Denied!</h2>
					<p class="text-center">Your user does not have permission to view this page.</p>
					<p class='text-center'>Please sign in to an account with administration rights.</p>
				</div>
				<div class="buttons"></div>
			</div>
		</div>
	</body>
{% endblock %}

{% block scripts %}

	<script src="/script/jquery-3.1.1.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>

{% endblock %}