{% extends "index.html" %}

{% block content %}
	<div class="container text-left">
		<div class="col-xs-8">
			<h1 id="band_header">{{band.name}}</h1>

			<div id="band_delete">
				<form method="POST" action="/band/{{ band.name }}">
					<input type="hidden" name="_method" value="DELETE"/>
					<input type="submit" class="btn btn-danger" value="Slett"/>
				</form> 
			</div>

			<div id="band_edit">
				<a class="btn btn-success" href='/band/{{ band.name }}/edit'>Endre band</a>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Bio</h3>
				</div>
				<div class="panel-body">
					{{band.description}}
				</div>
			</div>

			{% if band.members.length  %}

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Medlemmer</h3>
				</div>
				<div class="panel-body">
					{% for member in band.members %}
						{{member}},
					{% endfor %}
				</div>
			</div>
			{% endif %}

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Sjangere</h3>
				</div>
				<div class="panel-body">
					{% for genre in band.spotify_genres %}
						{{genre}},
					{% endfor %}
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Tidligere konserter i Norge</h3>
				</div>
				<div class="panel-body">
					<ul>
					{% for concert in band.previous_concerts %}
						<li>{{concert}}</li>
					{% endfor %}
					</ul>
				</div>
			</div>
			
			{% if band.spotify_top_tracks %}
			<div id="band_tracks" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Topp 10 sanger på Spotify</h3>
				</div>
				<div class="panel-body">
					<table class="text-center"
					data-toggle="table" 
					data-classes="table table-hover results"
					data-striped="true"
					data-sort-name="Popularity"
					data-sort-order="desc">
						<thead>
							<tr>
								<th class="col-xs-2" data-field="Name" data-sortable="true">Navn</th>
								<th class="col-xs-2" data-field="Album" data-sortable="true">Album</th>
								<th class="col-xs-1" data-field="Popularity" data-sortable="true">Popularitet</th>
								<th class="col-xs-3" data-field="Preview" data-sortable="false">Smakebit</th>
							</tr>
						</thead>

						<tbody>
							{% for track in band.spotify_top_tracks %}
							<tr>
								<td>{{ track.name }}</td>
								<td>{{ track.album }}</td>
								<td>{{ track.popularity }}</td>
								<td><audio controls><source src="{{track.preview_url}}" type="audio/mpeg">Not supported</source></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			{% endif %}

			{% if band.concerts %}
			<div id="band_concerts" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Tidligere konserter på Samfundet</h3>
				</div>
				<div class="panel-body">
					<table class="text-center"
					data-toggle="table" 
					data-classes="table table-hover results"
					data-striped="true"
					data-sort-name="Date"
					data-sort-order="asc">
						<thead>
							<tr>
								<th class="col-xs-1" data-field="Date" data-sortable="true">Dato</th>
								<th class="col-xs-3" data-field="Name" data-sortable="false">Navn</th>
								<th class="col-xs-2" data-field="Genre" data-sortable="true">Sjanger</th>
								<th class="col-xs-1" data-field="AudSize" data-sortable="true">Deltakere</th>
								<th class="col-xs-1" data-field="Stage" data-sortable="true">Scene</th>
							</tr>
						</thead>

						<tbody>
							{% for concert in band.concerts %}
							<tr>
								<td>{{ concert.date }}</td>
								<td>{{ concert.name }}</td>
								<!-- <td>{% for genre in concert.genres %}{{ genres }}, {% endfor %}</td> -->
								<td>{{concert.genre}}</td>
								<td>{{ concert.audSize }}</td>
								<td>{{ concert.stage.name }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			{% endif %}

			{% if band.bookings %}
			<div id="band_concerts" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Bookings på Samfundet</h3>
				</div>
				<div class="panel-body">
					<table class="text-center"
					data-toggle="table" 
					data-classes="table table-hover results"
					data-striped="true"
					data-sort-name="Date"
					data-sort-order="asc">
						<thead>
							<tr>
								<th class="col-xs-1" data-field="Date" data-sortable="true">Dato</th>
								<th class="col-xs-1" data-field="Pris" data-sortable="true">Pris</th>
								<th class="col-xs-2" data-field="Status" data-sortable="true">Status</th>
							</tr>
						</thead>

						<tbody>
							{% for booking in band.bookings %}
							<tr>
								<td>{{ booking.date }}</td>
								<td>{{ booking.price }}</td>
								<td>
									{% if !booking.considered %}
										Venter godkjenning
									{% elseif booking.approval %}
										Godkjent
									{% else %}
										Avslått
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			{% endif %}
		</div>

		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Statistikk</h3>
				</div>
				<div class="panel-body">
					<div id="band_image" class="thumbnail">
						<img src="{{band.spotify_image}}"/>
					</div>
					<table id="band_stats" class="table table-bordered table-striped">
						<tbody id="band_stats_data">
							<tr>
								<td><b>Popularitetsrate:</b></td>
								<td>{{band.spotify_popularity}}</td>
							</tr>	
							<tr>
								<td><b>Spotify-følgere:</b></td>
								<td>{{band.spotify_followers}}</td>
							</tr>
							<tr>
								<td><b>Avspillingsantall (Lastfm):</b></td>
								<td>{{band.lastfm_playcount}}</td>
							</tr>
							<tr>
								<td><b>Lytterantall (Lastfm):</b></td>
								<td>{{band.lastfm_listeners}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			{% if band.external_urls.length %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Eksterne lenker</h3>
				</div>
				<div id="band_links" class="panel-body">
					{% for link in band.external_urls %}
						<a href="{{link}}">{{link}}</a>
					{% endfor %}
				</div>
			</div>
			{% endif %}

			{% if band.spotify_albums %}
			<div id="band_albums" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Albumer</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-striped">
						<tbody>
							{% for album in band.spotify_albums %}
							<tr>
								<td><img height="64" width="64" src="{{album.image}}"></img></td>
								<td>{{album.name}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
