{% extends "index.html" %}

{% block content %}
<div class="container text-left">
	{% block info %}
	{% endblock %}

	<hr>

	<form class="form-horizontal" method="post" action="/booking/{{booking.url}}">
		<input type="hidden" name="contains_message" value="true"/>

		<div class="form-group">
			<div class="col-xs-3"></div>
			<div class="col-xs-2">
				<h4 id="booking_messages">Kommunikasjon</h4>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-xs-3" for="text">Melding: </label>
			<div class="col-xs-6">
				<textarea class="form-control" rows="3" id="text" name="message_input" placeholder="Skriv en melding til {% if userIs('not manager') %}bandets manager{% else %} bookingansvarlige {% endif %}"></textarea>
			</div>
			<div class="col-xs-1">
				<input id="booking_messages_send" class="btn btn-success" type="submit" value="Send">
			</div>
		</div>

		{% for message in booking.messages %}
		<div class="form-group">
			<label class="control-label col-xs-3" for="text">{{message.owner}} ({{message.role}})<br>{{message.time}}</label>
			<div class="panel panel-default msgs col-xs-6">
				<div class="panel-body">
					<p class="booking-messages">{{message.text}}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</form>
</div>


{% endblock %}
{% block scripts %}
	<!--<script type="text/javascript" src="/script/mailto.js"></script>-->
{% endblock %}
