{% extends "index.html" %}

{% block head %}
		<link rel="stylesheet" href="/css/Highlight-Clean.css">
{% endblock %}

{% block content %}
	<body>
		<div class="highlight-clean">
			<div class="container">
				<div class="intro">
					<h2 class="text-center">Page Not Found!</h2>
					<p class="text-center">The page you're looking for is not accessible or does not exist</p>
					<p class='text-center'>If you believe it should exist, please contect the system <a href="mailto:admin@prosjekt.stokkers.no">administrators</a></p>
				</div>
				<div class="buttons"></div>
			</div>
		</div>
	</body>
{% endblock %}

{% block scripts %}

	<script src="/script/jquery-3.1.1.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>

{% endblock %}