{% extends "index.html" %}

{% block head %}
		<link rel="stylesheet" href="/css/Highlight-Clean.css">
		<meta http-equiv="refresh" content="3;url=/profile" />
{% endblock %}

{% block content %}
	<body>
		<div class="highlight-clean">
			<div class="container">
				<div class="intro">
					<h2 class="text-center">Passwords do not match!</h2>
					<p class="text-center">Please try again, and make sure the passwords match.</p>
					<p class='text-center'>If you are not automatically redirected, click <a href="/profile">here</a></p>
				</div>
				<div class="buttons"></div>
			</div>
		</div>
	</body>
{% endblock %}

{% block scripts %}

	<script src="/script/jquery-3.1.1.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>

{% endblock %}