.contentBg{
    background-color: #eeeeee;
}

.contentBg h2 {
    color: #a03033;
    margin-left: 25px;
    margin-bottom: 0;
    text-align: left;
}

.contentBg a{
    text-decoration: none;
    color: #555;
}

.contentBg a:visited{
    color: #555;
}

.contentBg ul {
    padding: 0;
}

.contentBg ul li{
    list-style-type: none;
    text-indent: 25px;
    margin-left: 0;
    right: 0;
}

.contentBg li:nth-child(odd){
    background-color: #dddddd;
}